<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Projects
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">Project name</ion-label>
          <ion-input [(ngModel)]="projectName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="onAddProject()">Add</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <app-project-item *ngFor="let project of projects"
          [projectItem]="project"></app-project-item>
        </ion-list>
     </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
